.btn-icon {
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 100px;
}

.btn-comecar {
    margin-left: 130px exact;
    margin-top: 45px;
}


