.text-title {
    font-family: Roboto;
    margin-top:115px;
    padding-left: 120px;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;;
}

.text-subtitle {
    font-family: Roboto;
    padding-top: 15px;    
    padding-left: 120px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;

}