.config-navbar {
    width: 100%;
    height: 60px;
    background: #1890FF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    padding-left: 40px;
    align-items: center;
    color: #FFFFFF;
}