.search-container{
    width: 1200px;
    height: 250px;
    background: #E6F7FF;
    border-radius: 20px;
    margin-top: 90px;
    margin-left: 100px;
}

.input-config{
    margin-left: 100px;
    margin-bottom: 25px;
}

.text-search-title {
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    padding-top: 60px;
    margin-left: 95px;
}
